main{
  height: 60%;
}

.titulo{
    margin-left: 74px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cajita{
  background-color: white;
  opacity: 0.8;
  margin: 0 auto;
  margin-bottom: 20px;
}

.editarVistas{
  text-align: center;
  padding-top: 10px;
 
}

.categorias{
  text-align: center;
}

@media (min-width:1024px){

  .titulo{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-right: 10%;
  }

  .categorias{
    text-align: center;
    
  }

  .cajita{
    background-color: white;
    opacity: 0.8;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: -1;
  }
  
  .editarVistas{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .editarComisiones{
    margin-bottom: 10px;
  }

  .dropdown-menu.show{
    position: relative;
    z-index: 1000;
  }

}
