*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body{
    background-image: url("../imagenes/fondo.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

.titulo-bibliografia{
    margin-top: 15px;
}


.contenedor-bibliografia{
    background-color: rgb(255, 255, 255,0.8);
    box-shadow:  0 0 5px black;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
    margin-top: 50px;
}

.titulo-bibliografia h2{
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: center;
}

.listado-bibliografia{
    text-align: center;
}

.listado-bibliografia li{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.listado-bibliografia li a button{
    margin-bottom: 10px;
}

.listado-bibliografia a{
   color: black;

}

/* VERSIÓN ESCRIORIO */


@media (min-width:1024px){
    .contenedor-bibliografia{
    width: 80%;
    height:400px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
    }


    .titulo-bibliografia h2{
        font-size: 35px;
    }

    .listado-bibliografia{
        margin-top: 15px;

    }


    .listado-bibliografia li{
       padding-bottom: 10px ;
       text-align: center;

    }
    
   
}
