*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.contenedor-sitio{
  width: 100%;
  background-image: url("../imagenes/fondo.jpg");
  background-size:cover;
  background-attachment: fixed;
}

.titulo-sitio{
    margin-top: 10px;
    display: block;
    text-align: center;
}

.contenido-comisiones{
    width: 100%;
    display: inline-block;
    background-color: rgb(255, 255, 255,0.7);
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}

.comisiones{
    width: 100%;
}

.imagen-comision{
  width: 100%;
}
.imagen-comision img{
  max-width: 100% ;
 
}


@media (min-width:1024px){

  .contenido-comisiones{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    overflow: hidden;
  
  }

  .comisiones{
    margin-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
  }

}
