.cuerpo-docente{
  background-color: white;
  opacity: 0.8;
  border-radius: 15px;
  height: 324px;
  margin-top: 20px;
margin-left: 10px;
align-items: center;
display: block;
margin-right: 10px;
text-align: center;
}

body{
  background-color: #D6D6D6;
}

p.nombre-docente {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 1024px){
  .cuerpo-docente{
    margin-left: 49px;
    margin-right: 49px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .docente2{
    margin-left: -61px;
}
  }
}
