*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  color:black;
}


.contenedor-docente{
  background-image: url("../imagenes/fondo.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  height: auto;
  overflow: hidden;  
}


.cuerpo-docente{ 
  margin-top: 30px;
  background-color: rgb(255, 255, 255,0.8);
  box-shadow: 0 0 5px black;
  border-radius: 15px;  
  width: 100%;
}

.cuerpo-docente ul{
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cuerpo-docente img{
  width: 100%;
}

p.cargos-docente{
  font-weight: bold;
}

p.nombre-docente {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 1024px){
  
  .cuerpo-docente{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    height: auto;
  }



  .cuerpo-docente ul{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
  }

  .cuerpo-docente li{
    text-align: center;  
  }



}

