*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  }


  header{
      background-color:#C0C0C0;
      overflow: hidden;
      width: 100%;
      box-sizing: border-box;
  }

 .titulo-principal{
     float: left;
     padding-top: 5px;
     padding-left: 15px;
 }
  .titulo-principal h4{
      font-family: 'Libre Baskerville', serif;
  }

 .menu-mobile{
   float: right;
   position: relative;
   padding-top: 7px;
   width: 10%;

 }
 
 #navbarToggleExternalContent{
    padding-right: 15px;
 };

 .hamburguesa{
     color:#C0C0C0!important;
 }
 .fixed-top{
     position: relative;;
     float: right;
 }

 .listado-mobile{
     color: white;
 }

 .text-muted{ 
     font-weight: bold;
    color: white;
 }

 #importante{
     color:#C0C0C0;
 }

 .bg-dark{
     color: blue;
 }

 .navbar-dark .navbar-toggler{
     color: #343a40;
 }
