* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;

};

body{
    width: 100%;
}


.claseNueva{
    margin-top: 30px;
    text-align: center;
}
.titulo{
    text-align: center;
    margin-top: 20px;
}

.encabezados{
    display: none;
}

.listado{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: space-around;
    
}

.listado ul{
    width: 200px;
    height:150px;
    text-align: center;
}

.listado iframe{
    width: 100%;
}



@media (min-width:1024px){

    .titulo{
        margin-top: 15px;
    }

    .claseNueva{
      text-align: start;
      margin-left: 25px;
    }

    .encabezados{
        display: initial;
    }

    .encabezados ul{
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        
    }

    .encabezados ul li{
        font-weight: bold;
    }

    .listado{
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: space-around;
        
        
    }

    .alumnos{
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: space-around;

        
    }

    .listado ul{
        width: 400px;
        height:200px;
        text-align: center;
    }

    .boton{
        display: inline-block;
    }


}
