*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

.menu-mobile{
  display: none;
}

div.titulo-principal-mobile{
  width: 100%;
}
.container {
    margin-top: 12px;

}
.btn-link  {
  display: block;
  margin-right: 3px;
}

.card{
  margin-bottom: 20px;
}
.card-header{
  text-align: center;
}
.card-body{
  text-align: center;
}



.olvidasste{
  padding-top: 10px;
  margin:0 auto;
}


.form-check{
  text-align: center;
}


.cajita-registrate{
  margin-top:10px;
}

p{
  margin-bottom: 0px;
}



p.clinicas{
  margin-top: -25px;
}

p.ubah{
  margin-top: -25px;
}

.contacta{
  margin-top: 10px;
}

img.uba{
   margin-top: 10px;
 }

@media (min-width: 1024px){

  div#menu-escritorio{
    display: none;
  }

div.usuario-escritorio{
  display: none;
}

div.titulo-principal-escritorio{
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  
}
 
  .contenedor-login{
    margin-top: 40px;
    height: 400px;
  }

  .card{
    padding-bottom: 10px;
  }
  .col-md-8.offset-md-4{
    margin: 0 auto;
  }

  .col-md-6.offset-md-4{
    margin: 0 auto;
  }
  .btn-link  {
    display: block;
    margin-right: 200px;
  }

  .olvidasste{
    padding-top: 10px;
   margin: 0 auto;
  }
  .cajita-registrate{
       text-align: center;
        margin-top: 10px;
  }
  p{
    display: contents;
  }

  #boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .registrate-a{
    display: contents;
  }

  button.btn.btn-primary{
    background-color: #007bff!important;
  }

  
}
