*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.titulo-principal-mobile{
  color:black;
}

body{
  background-color: #D6D6D6;
 
}

/*HEADER EN MOBILE*/

header{
  background-color:white;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  
}

.titulo-principal-mobile{
 float: left;
 width: 62%;
 padding-top: 5px;
 padding-left: 5px;
}

#letra-1{
color:black;
}

#letra-2{
color:black;
}

.titulo-principal-escritorio{
 display:none;
}


.titulo-principal-mobile h4{
  text-align: center;
  font-family:  'Roboto', sans-serif;
  color: white;
}

#letra-1{
  font-size: 18px;
  margin-bottom: 0px;
}

#letra-2{
  font-size: 12px;
  margin-bottom: 0px;
}

.titulo-principal-mobile a{
  text-decoration: none;
}


.imagen-uba, .imagen-clinicas{
  display: none;
}


.menu-mobile{
float: right;
position: relative;
padding-top: 20px;
padding-right: 20px;
width: 10%;
}

.navbar-dark .navbar-toggler{
  background-color: black;
}

.fixed-top{
  position: relative;;
  float: right;
}

.listado-mobile{
 padding-bottom: 5px;
 text-align: center;
 list-style-type: square;

}


.listado-mobile li a{
 text-decoration: none;
 color: black;

}

.text-muted{
color: black;

}

.usuario-mobile{
 border-top: 1px solid white;
margin-top: 10px;
padding-top: 5px;
}

#menu-escritorio{
 display: none;
 margin-left: 150px;
}



.usuario-escritorio{
 display: none;
}


footer{
  background-color: black;
 height: auto;
 overflow: hidden;
}

.listado-footer{
  text-align: center;
  padding-top: 10px;
}
.listado-footer p{
  color: white;
}
.logo-uba{
display: contents;
}

.nosotros{
  color: white;
  display: inline-block;
  height: 20px;
  text-align: center;
}

.sitio{
  color:white;
}

.logo-uba img{
  display: inline-block;
  margin-right: 112px;
}

.email-nosotros{
  color: white;
}

.listado-footer li{
  padding-top: 5px;
}
.listado-footer li a {
  color: white;
}


/* HEADER EN ESCRITORIO*/

@media (min-width: 1024px){

  header{
    background-color:white;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
  }


 
  .menu-mobile{
      display:none;

  }

  .titulo-principal-mobile{
      display: none;
  }

  .titulo-principal-escritorio{
      display: initial;
      margin-top: 10px;
      margin-bottom: -25;
      order: 3;
      margin-left: 200px;
  }

  .titulo-principal-escritorio h4{
      text-align: center;
  }

  .titulo-principal-escritorio a{
      text-decoration: none;
  }



  .imagen-uba{
     margin-top:5px;
      margin-left: 15px;
      margin-bottom: 5px;
      display: initial;
  }


  .imagen-clinicas{
      display: block;
      margin-right: 15px;
      margin-top: 3px;
      order: 5;
  }

  .usuario-escritorio{
    display: initial;
    order: 4;
  }

  /* BOTON DE USUARIO*/

  button.btn.btn-primary{
      background-color:  rgb(14, 13, 13);
      color:rgba(255, 255, 255, 0.596) ;
      border-color: rgba(255, 255, 255, 0.596);
      margin-left: 85px;
      margin: 0 auto;
  }

  .card.card-body{
      background-color: rgb(14, 13, 13);
      margin: 5px;
      padding: 3px;
      padding-bottom: 0px;
      text-align: center;
  }

  .card.card-body ul li {
      padding-top:3px;
     
      color: white;
  }

  .card.card-body ul li a{
    color: white;
  }


  /*BARRA DE NAVEGACION*/

  #sec{
    color: black;
  }

  #com{
    color:black;
  }

  
  #menu-escritorio{
      display: inline-block;
      position: absolute;
      flex-basis: 50%;
     
      }

  .navbar-light .navbar-nav .nav-link {
      color:green;
  }

  .dropdown-menu{
      background-color: black;
      margin-top: 25px;
      z-index: 999;
  }



  #menu-escritorio .dropdown-menu .dropdown-item a{
        color: white;
      }

  #crono{
    color: white;
  }

  #clases{
    color: white;
  }

  #casos{
    color: white;
  }
  #cuerpo{
    color: white;
  }
  #biblio{
    color: white;
  }
  #sitio{
    color: white;
  }
  #comi{
    color: white;
  }
  .dropdown-menu a:hover{
    background-color: rgb(31, 29, 29);
  }

  .card.card-body li a{
      font-weight: lighter;
  }




.listado-footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.listado-footer li{
  width:341px;
  text-align: center;
  padding-top: 25px;
}





/*
  .footer{
    margin-top: -1px;
    background-color: black;
        height: 151px;
  }
  .titulo-footer{
    display: inline-block;
  margin-left: 58px;
  }
  .titulo-footer p{
    float: left;
    color: white;
    text-align: left;
  }
  .infecto{
    margin-right: -8px;
  }
  .clinicas{
    margin-left: -75px;
  }
  .ubah{
    margin-left: -137px;
  }

  p.infecto{
    display: contents;
  }

  p.clinicas{
        margin-top: 2px;
        margin-left: -23px;
  }

  p.ubah{
        margin-top: -8px;
        margin-left: -34px;
  }

  .contacta{
    display: inline-block;
    height: 20px;
    margin-top: -50px;
    text-align: center;
    margin-left: 350px;
  }


  .contactanos{
    color: white;
  }

  .email-catedra{
    display: inline;
    color: white;
  }

  .logo-uba{
  display: inline;
  }

  .logo-uba img{
    display: inline-block;
    float: right;
    margin-top: -3px;
    margin-right: 109px;
  }
  */
}
