*{
  font-family: 'Roboto', sans-serif;
}


body{
  background-color: #D6D6D6;
}

.footer{
  margin-top: 0px;
  background-color: black;
  height: 184px;
}
.contacta{
  display: inline-block;
  height: 20px;
    text-align: center;

}

.contactanos{
  color: white;
  text-decoration: underline;
}

.email-catedra{
  color: white;
}
.logo-uba{
display: contents;
}

.nosotros{
  color: white;
  display: inline-block;
  height: 20px;
  text-align: center;
}

.sitio{
  color:white;
}

.logo-uba img{
  display: inline-block;
float: right;
margin-right: 112px;
}



.email-nosotros{
  color: white;
}

@media (min-width: 1024px){

.footer{
  margin-top: -1px;
  background-color: black;
       height: 151px;
}

.titulo-footer p{
  float: left;
  color: white;
  text-align: left;
}
.infecto{
  margin-right: -8px;
}
.clinicas{
  margin-left: -75px;
}
.ubah{
  margin-left: -137px;
}
.contacta{
  height: 20px;
  margin-top: -45px;
    text-align: center;
        margin-left: 250px;

    border-right: 1px solid #2d3737;
}


.mapa{
  margin-left: 44px;
  border-right: 1px solid #2d3737;
  display: -webkit-inline-box;
    float: left;
}

.contactanos{
  color: white;
}

.email-catedra{
  display: inline;
  color: white;
}
.logo-uba{
display: inline;
}

.logo-uba img{
  display: inline;
float: right;
    margin-top: -54px;
    margin-right: 109px;
}
}
