*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.menu-mobile{
    display: none;
  }
  
  div.titulo-principal-mobile{
    width: 100%;
  }
.container{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

strong{
    color:red;
}

@media (min-width:1024px){

    div#menu-escritorio{
        display: none;
    }
    
    div.usuario-escritorio{
    display: none;
    }
    
    div.titulo-principal-escritorio{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
        
    }

    .container{
    height:350px;
    margin-top: 50px;
    }

    .col-md-6.offset-md-4{
        margin: 0 auto;
        padding-top: 5px;
}

button.btn.btn-primary{
    background-color: #007bff!important;
    }

   

}
