*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body{
    height:auto;
    background-attachment: fixed;
    background-repeat:no-repeat;
    
}

.contenedor-sitio{
    width: 100%;
    background-image: url("../imagenes/fondo.jpg");
    background-size:cover;
    background-attachment: fixed;
}

.caja{
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    height: auto;
    margin-bottom: 30px;
    background-color:rgb(255, 255, 255,0.8);
    border:  1px solid black;
    box-shadow:  0 0 5px black;
}

.titulo-sitio{
    margin-top: 15px;
}


.titulo-sitio h2{
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: center;
}

.listado-sitio{
    text-align: center;
}

.listado-sitio li{
    padding-top: 5px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.listado-sitio a{
   color: black;

}

.contenido-sitio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* VERSIÓN ESCRIORIO */

@media (min-width:1024px){

    .contenedor-sitio{
        height: 500px;
    }

    .caja{
        display: inline-block;
        margin-top: 100px;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        height: 300px;
        overflow: hidden;
    }


    .titulo-sitio h2{
        font-size: 35px;
    }

    .contenido-sitio{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .contenido-sitio li{
        padding-top: 20px;
        list-style-type: circle;
    }

}
